[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = junnys6018
	email = 48525532+junnys6018@users.noreply.github.com
	signingkey = D41DDCCD0896B0CE1E9F5395583DDE583BB9782C
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[alias]
	unstage = reset HEAD --
	lg = log --oneline --all --graph --decorate
	ll = log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]' --decorate --numstat
	co = checkout
[delta]
	syntax-theme = ansi
	navigate = true
	line-numbers = true
	side-by-side = true
[include]
	path = /Users/junlim/dev/delta/themes.gitconfig
[credential]
	credentialStore = gpg
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[submodule]
	recurse = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
